version: '2'

networks:
    factorytx-net:
        driver: bridge

volumes:
    pip-cache:
        driver: local
    data-buffer-volume:
        driver: local
    send-log-data-volume:
        driver: local
    postgres-data-volume:
        external: true

services:

    factorytx:
        container_name: factorytx
        hostname: factorytx
        image: sightmachine/factorytx
        networks:
            - factorytx-net
        build:
            context: /opt/sightmachine/factorytx
            dockerfile: Dockerfile
        tty: true
        volumes:
            # - ./factorytx/pipelines/conf.d/int_send:/opt/sightmachine/factorytx/factorytx/pipelines/conf.d/
            - /var/data:/var/data
            - ./:/opt/sightmachine/factorytx/
            - data-buffer-volume:/var/spool/sightmachine/factorytx/
            - send-log-data-volume:/var/log/sightmachine/factorytx/
            - pip-cache:/root/.cache/pip/
        ports:
            - 8090:8090
