machines:
- plugins:
  - type: example
    name: Example Plugin
    config:
      version: 1.0.0
      runtime: 1000
  source: SM_AA_Example_1
# - plugins:
#   - type: example
#     name: Example Plugin
#     config:
#       version: 1.0.0
#       runtime: 1000
#   source: SM_AA_Example_2
# - plugins:
#   - type: example
#     name: Example Plugin
#     config:
#       version: 1.0.0
#       runtime: 1000
#   source: SM_AA_Example_3
